@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700&display=swap");

/* ELEMENTS  */

html {
  font-family: "Epilogue", sans-serif;
  font-size: 20px;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #000;
}

.headerLight {
  background-color: #fff;
}

h1 {
  font-weight: 500;
  font-size: 3rem;
}

h2 {
  font-weight: 400;
}

body {
  background-image: linear-gradient(0deg, #000, #000);
  color: #fff;
  margin: 0;
  transition: color 0.5s;
}

.bodyLight {
  background-image: linear-gradient(0deg, #fff, #fff);
  color: #000;
}

.noDisplay {
  display: none;
}

a:hover,
a:visited,
a:link {
  text-decoration: none;
  color: #000;
  font-size: 0.7rem;
  font-weight: 500;
}

a:active {
  color: #ffc11e;
}

p {
  font-weight: 200;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

figure {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* NAVIGATION  */

.navTabContainer,
.mobileNavContainer {
  display: flex;
  justify-content: space-between;
  display: none;
}

.mobileNavContainer {
  display: flex;
  /* border: 2px solid red; */
  padding: 15px 30px;
}

.mobileNavIcon {
  font-size: 30px;
}

.mobileNavTab .mobileNavIcon:nth-of-type(2) {
  display: none;
}

.mobileNavOpen .mobileNavIcon:nth-of-type(1) {
  display: none;
}

.navTab {
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 4rem;
  align-items: center;
  padding-top: 1.5rem;
}

.navTab a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
}

.navTabLight {
  background-color: #fff;
}

.navTabLight a {
  color: #000;
}

.whiteNav,
.whiteNav a {
  color: #000;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.projectsNav a {
  color: #000;
}

.icon + a {
  margin-left: 0.8rem;
}

.icon {
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 50px;
}

.iconLight {
  border: 1px solid #000;
}

.whiteIcon {
  border: 1px solid #000;
}

.navItems {
  display: inline-block;
  margin-left: 1rem;
}

/* THEME */
.themeButtonContainer,
.dateContainer {
  padding: 1.5rem 1.5rem 0 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.themeButtonContainerMobile {
  padding: 0;
}

.dateContainer {
  padding-top: 1rem;
  flex-direction: column;
  font-size: 0.7rem;
}

.dateContainerLight {
  color: #000;
}

.dateButtonContainer {
  margin-top: 0.5rem;
}

.dateButton {
  padding: 0.3rem;
  background-image: linear-gradient(to right, #ffc11e 50%, #fff 50%);
  color: #000;
  display: inline-block;
  margin-left: 1rem;
  border-radius: 0.8rem;
  border: 1px solid #fff;
  color: #fff;
  background-size: 200% 100%;
  cursor: pointer;
  transition: all 0.2s;
}

.dateButton:hover {
  background-position: 100% 0;
  color: #000;
}

.dateButtonLight {
  color: #fff;
  background-image: linear-gradient(to right, #ff7272 50%, #000 50%);
}

.dateButtonLight:hover {
  color: #fff;
}

.dateContainer > p {
  margin: 0;
}

.dateContainer input[type="radio"] {
  cursor: pointer;
}

.themeButton {
  padding: 0.1rem 0.1rem;
  background-image: linear-gradient(315deg, #fff000 0%, #ed008c 74%);
  display: flex;
  justify-content: space-between;
  width: 2.5rem;
  height: 1rem;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

.themeButtonLight {
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
}

.toggle {
  height: 90%;
  width: 40%;
  background-color: #fff;
  border-radius: 50px;
  transform: translateX(0%);
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 2%;
  transition: transform 0.2s;
}

.toggleLight {
  transform: translateX(140%);
}

/* LANDING PAGE  */

.landingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  min-height: 100vh;
}

.landingPortraitContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landingPortrait {
  height: 6rem;
  width: 6rem;
  border-radius: 50rem;
  text-align: center;
  margin-bottom: 1em;
}

.landingTitle {
  width: 50%;
  text-align: center;
}

.landingDescription {
  width: 28%;
  text-align: center;
}

.buttonContainer {
  padding-top: 1rem;
}

.connectButton {
  padding: 0.75rem;
  border-radius: 30px;
  background-image: linear-gradient(to right, #ffc11e 50%, #fff 50%);
  background-size: 200% 100%;
  width: 8rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: background-position 0.4s;
}

.connectButtonLight {
  background-image: linear-gradient(to right, #ff7272 50%, #000 50%);
}

.connectButtonLight a {
  color: #fff;
}

.connectButton:hover {
  background-position: 100% 0;
}

/* EXPERIENCE PAGE  */
.experienceHeaderLight {
  background-color: #fff;
}

.paneContainer,
.experiencePaneContainer {
  display: flex;
  color: #000;
  transition: color 0.5s;
}

.paneBlackContainer,
.experiencePaneContainerBlack {
  color: #fff;
}

.skillsIntro {
  position: relative;
}

.leftPane h1 {
  margin-top: 0;
}

.leftPane,
.rightPane {
  width: 50%;
  background-color: #fff;
  padding: 5rem;
  padding-right: 2rem;
}

.paneBlack {
  background-color: #000;
}

.rightPane {
  padding-left: 0rem;
  padding-right: 5rem;
}

.absoluteP {
  position: absolute;
  margin: 0;
  top: -1rem;
  left: -2.5rem;
  transform: rotate(-35deg);
  font-weight: 400;
  font-size: 0.7rem;
  color: #1771f1;
}

.skills {
  padding-top: 1rem;
}

.skillsList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.skillItems {
  width: 30%;
}

.skillItems p {
  font-weight: 400;
}

.skillItemIcons {
  width: 1rem;
  height: 1rem;
  padding: 0.8rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: #fff;
  font-size: 1.8rem;
}

.skillItemIconsLight {
  color: #fff;
  background-color: #000;
}

.experienceItems {
  border-top: 2px solid #808285;
  display: flex;
  margin-top: 2rem;
}

.experienceInfo {
  margin-left: 2rem;
}

.experienceInfo p:first-child {
  font-weight: 500;
}
.experienceInfo p:last-child {
  font-size: 0.6rem;
}

/* EDUCATION PAGE  */

.schoolImage {
  width: 100%;
  height: auto;
}

.educationItem {
  margin-bottom: 3rem;
}

.educationItem h2 {
  color: #ffc11e;
}

.educationItemLight h2 {
  color: #ff7272;
}

.courseworkContainer {
  padding: 1rem;
  display: flex;
  background-color: #ffc11e;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
  color: #fff;
}

.courseworkContainerLight {
  background-color: #ff7272;
}

.courseWorkIcon {
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #000;
}

.courseworkInfoContainer {
  flex-grow: 1;
  margin-left: 2.5rem;
}

.courseworkInfoContainer > p {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
}

.courseworkInfo {
  display: flex;
  justify-content: space-between;
}

/* PROJECTS PAGE  */

.projectsSection {
  background-color: #ffc11e;
  color: #000;
}

.projectsSectionLight {
  background-color: #ff7272;
  color: #fff;
}

.projectsHeader {
  background-color: #ffc11e;
}

.projectsHeaderLight {
  background-color: #ff7272;
}

.projectsContainer {
  padding: 4rem;
  display: flex;
  justify-content: space-between;
}

.projectsContainer h1 {
  margin: 0;
}

.projects {
  width: 32%;
  height: 100%;
}

.project1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 60px;
}

.project2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
}

.projectItemContainer {
  min-height: 60%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #000;
}

.projectItemContainerLight {
  border-top: 1px solid #fff;
}

.projectScreenshotContainer {
  flex-grow: 1;
}

.projectScreenshot {
  width: 100%;
  height: 100%;
}

.projectsFooter {
  background-color: #ffc11e;
}

.projectsFooterLight {
  background-color: #ff7272;
}

.projectLinksContainer {
  padding-top: 20px;
}

.projectLinksContainer a {
  color: #1771f1;
}

.projectDescription {
  font-size: 12px;
}

.projectTitle p:first-of-type {
  font-weight: 600;
}

.projectTitle p:nth-of-type(2) {
  font-size: 14px;
  line-height: 17px;
}

.otherProjects {
  padding-top: 0;
  padding-bottom: 20px;
  flex-direction: column;
}

.otherProjects h1 {
  font-size: 35px;
}
/* FOOTER  */

.footer {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 2rem;
}

.whiteFooter {
  background-color: #fff;
  color: #000;
}

.footer a {
  color: #fff;
  margin-left: 0.8rem;
  font-size: 1.3rem;
}

.footerLight a {
  color: #000;
}

.whiteFooter a {
  color: #000;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #bcbec0;
  padding-top: 1rem;
}

.footerIconContainer {
  display: flex;
  align-items: center;
}


@media (max-width: 700px) {
  html {
    font-size: 14px;
  }

  .landingContainer {
    padding: 10px;
  }

  .landingTitle {
    width: 100%;
  }

  .landingDescription {
   width: 80%;
  }
}