@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700&display=swap");

/* ELEMENTS  */

html {
  font-family: "Epilogue", sans-serif;
  font-size: 20px;
  color: #fff;
}

h1 {
  font-weight: 500;
  font-size: 3rem;
}

h2 {
  font-weight: 400;
}

body {
  background-image: linear-gradient(0deg, #000, #000);
  margin: 0;
}

a:hover,
a:visited,
a:link {
  text-decoration: none;
  color: #000;
  font-size: 0.7rem;
  font-weight: 500;
}

a:active {
  color: #ffc11e;
}

p {
  font-weight: 200;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

figure {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* NAVIGATION  */

.navTab {
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 4rem;
  align-items: center;
  padding-top: 1.5rem;
  background-color: #000;
}

.navTab a {
  color: #fff;
  font-size: 0.7rem;
  font-weight: 200;
}

.whiteNav,
.whiteNav a {
  color: #000;
}

.whiteNav {
  background-color: #fff;
}

.yellowNav {
  background-color: #ffc11e;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon + a {
  margin-left: 0.8rem;
}

.icon {
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 50px;
}

.whiteIcon {
  border: 1px solid #000;
}

.navItems {
  display: inline-block;
  margin-left: 1rem;
}

/* LANDING PAGE  */

.landingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  height: 100vh;
}

.landingPortraitContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landingPortrait {
  height: 6rem;
  width: 6rem;
  border-radius: 50rem;
  text-align: center;
  margin-bottom: 1em;
}

.landingTitle {
  width: 50%;
  text-align: center;
}

.landingDescription {
  width: 28%;
  text-align: center;
}

.landingDescription p {
  font-weight: 100;
}

.buttonContainer {
  padding-top: 1rem;
}

.connectButton {
  padding: 15px;
  border-radius: 30px;
  background-image: linear-gradient(to right, #ffc11e 50%, #fff 50%);
  background-size: 200% 100%;
  width: 8rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: background-position 0.4s;
}

.connectButton:hover {
  background-position: 100% 0;
}

/* EXPERIENCE PAGE  */

.paneContainer {
  display: flex;
  color: #000;
}

.paneBlackContainer {
  color: #fff;
}

.skillsIntro {
  position: relative;
}

.leftPane h1 {
  margin-top: 0;
}

.leftPane,
.rightPane {
  width: 50%;
  background-color: #fff;
  padding: 5rem;
  padding-right: 2rem;
}

.paneBlack {
  background-color: #000;
}

.rightPane {
  padding-left: 0rem;
  padding-right: 5rem;
}

.absoluteP {
  position: absolute;
  margin: 0;
  top: -1rem;
  left: -2.5rem;
  transform: rotate(-35deg);
  font-weight: 400;
  font-size: 0.7rem;
  color: #1771f1;
}

.skills {
  padding-top: 1rem;
}

.skillsList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.skillItems {
  width: 30%;
}

.skillItems p {
  font-weight: 400;
}

.skillItemIcons {
  width: 1rem;
  height: 1rem;
  padding: 0.8rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #000;
  font-size: 1.8rem;
}

.experienceItems {
  border-top: 2px solid #808285;
  display: flex;
  margin-top: 2rem;
}

.experienceInfo {
  margin-left: 2rem;
}

.experienceInfo p:first-child {
  font-weight: 500;
}
.experienceInfo p:last-child {
  font-size: 0.6rem;
}

/* EDUCATION PAGE  */

.schoolImage {
  width: 100%;
  height: auto;
}

.educationItem {
  margin-bottom: 3rem;
}

.educationItem h2 {
  color: #ffc11e;
}

.courseworkContainer {
  padding: 1rem;
  display: flex;
  background-color: #ffc11e;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
}

.courseWorkIcon {
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #000;
}

.courseworkInfoContainer {
  flex-grow: 1;
  margin-left: 2.5rem;
}

.courseworkInfoContainer > p {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
}

.courseworkInfo {
  display: flex;
  justify-content: space-between;
}

/* PROJECTS PAGE  */

.projectsContainer {
  height: 100vh;
  background-color: #ffc11e;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  color: #000;
}

.projectsContainer h1 {
  margin: 0;
}

.projects {
  width: 32%;
  height: 100%;
}

.project1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectItemContainer {
  height: 60%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #000;
}

.projectScreenshotContainer {
  flex-grow: 1;
}

.projectScreenshot {
  width: 100%;
  height: 100%;
}

/* FOOTER  */

.footer {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 2rem;
}

.yellowFooter {
  background-color: #ffc11e;
}

.whiteFooter {
  background-color: #fff;
  color: #000;
}

.footer a {
  color: #fff;
  margin-left: 0.8rem;
  font-size: 1.3rem;
}

.whiteFooter a {
  color: #000;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #bcbec0;
  padding-top: 1rem;
}

.footerIconContainer {
  display: flex;
  align-items: center;
}
